{# Event sidebar navigation - extracted from event_detail.html #}
<div class="col-12 col-md-2 mb-3">
    <div class="list-group flex-row flex-md-column overflow-auto" id="event-tabs" role="tablist">
        <a class="list-group-item list-group-item-action active text-center text-md-start" id="list-info-list"
            data-bs-toggle="list" href="#list-info" role="tab">Informations</a>
        {% if is_organizer %}
        <a class="list-group-item list-group-item-action text-center text-md-start" id="list-general-list"
            data-bs-toggle="list" href="#list-general" role="tab">Description</a>
        <a class="list-group-item list-group-item-action text-center text-md-start" id="list-status-list"
            data-bs-toggle="list" href="#list-status" role="tab">Statut</a>
        <a class="list-group-item list-group-item-action text-center text-md-start" id="list-groups-list"
            data-bs-toggle="list" href="#list-groups" role="tab">Groupes</a>
        <a class="list-group-item list-group-item-action text-center text-md-start"
            href="{{ url_for('participant.manage', event_id=event.id) }}">Participants</a>
        {% endif %}
        {% if is_organizer or current_user.is_admin %}
        <div class="d-md-block d-none my-1">
            <hr>
        </div>
        <button type="button"
            class="list-group-item list-group-item-action list-group-item-danger text-center text-md-start"
            data-bs-toggle="modal" data-bs-target="#deleteEventModal">
            <i class="bi bi-trash"></i> <span class="d-none d-md-inline">Supprimer</span><span
                class="d-md-none">Suppr.</span>
        </button>
        {% endif %}
    </div>
</div>