{% extends "base.html" %}
{% block content %}
<div class="row">
    {# Sidebar navigation #}
    {% include 'partials/event_sidebar.html' %}

    {# Content Area (80%) #}
    <div class="col-12 col-md-10">
        <div class="tab-content" id="nav-tabContent">

            {# Informations Tab - Active by default #}
            <div class="tab-pane fade show active" id="list-info" role="tabpanel">
                {% include 'partials/event_info.html' %}
            </div>

            {# Organizer-only tabs #}
            {% if is_organizer %}
            {% include 'partials/event_organizer_tabs.html' %}
            {% endif %}

        </div>
    </div>
</div>

{# Modal dialogs #}
{% include 'partials/event_modals.html' %}

{% endblock %}

{% block scripts %}
{# Scripts are now included in event_modals.html partial #}
{% endblock %}